page-total-donar {
    .top-row {
        color: white;
        background: #f53d3d;
        text-align: center;
        font-size: 1.3em;
    }
    [col-6] {
        border: 1px solid;
    }
    .header-footer {
        background: gray;
        color: white;
        text-align: center;
        font-size: 1.3em;
    }
}