page-forgot-password {
        .col {
            position : initial !important;
          }
        
          .dummy {
            background: url('../assets/imgs/banner-sign-you-in.jpg') no-repeat;
            background-size: cover;
            width: 94vw;
            height: 43vw;
            margin-top: -8%;
          }
        
          .item-input .label-ios {
            color: #999;
          }
        
          .mycolLogin {
            margin-top: 11% !important;
          }
        
          .let-signin {
            text-align: center !important;
            margin-top: -2% !important;
          }
        
          .input-row {
            margin-top: -3% !important;
          }
        
          .forgot {
            text-align: right;
          }
        
          @media only screen and (min-width: 412px) and (max-width: 768px) {
            .myitem {
              width: 42vw;
            }
          }
    
        .item-md.item-block .item-inner {
          padding-right: 8px;
          border-bottom: 1px solid #b73ab5;
        }
       .item-md {
          padding-left: 16px;
          padding-right: 16px;
        }
}
